* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: black; */
}
.item {
  border: 2px solid black;
}
h1 {
  font-size: 4rem;
  color: white;
}
/* for mobile  */
@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    /* background-color: blue; */
  }
  h1 {
    font-size: 2rem;
  }
}

/* for tablet  */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    /* background-color: red; */
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-size: 3rem;
  }
}

/* for desktop  */
/* @media screen and (min-width: 1024px) {
  .container {
    background-color: aqua;
  }
} */
